.events {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  gap: 50px;
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: var(--transition);
}

.event {
  flex: 1;
  background: var(--clr-white);
  min-width: 300px;
  max-width: 400px;
  max-height: 700px;
  overflow: hidden;
  align-items: center;
  display: grid;
  grid-template-columns: 150px 1fr;
  border-radius: var(--radius);
  transition: var(--transition);
}

.event:hover {
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.5);
}

.event_image {
  width: 1280px;
  height: 850px;
  filter: brightness(40%);
}

.desc-container {
  display: grid;

  z-index: 0;
}

.desc-container > * {
  color: white;
}

.desc-container p {
  font-size: 1rem;
}

.desc-container h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.btn-learn {
  padding: 20px;
  justify-self: stretch;
  text-align: center;
  transition: var(--transition);
}

.btn-learn:hover {
  background-color: black;
}

@media screen and (max-width: 800px) {
  .event {
    max-height: 400px;
    grid-template-columns: 10px 1fr;
    align-items: flex-start;
  }
  .event p {
    font-size: 0.875rem;
  }

  .desc-container {
    padding-top: 100px;
  }

  .events__title {
    font-size: 2.2rem;
  }
}
