/* FOOTER */

footer {
  background-color: #000;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 30px 10px;
  bottom: 0;
}

.footer-container h4 {
  color: #fefefe;
  text-align: center;
  margin-bottom: 20px;
}

.footer-container p {
  color: #fefefe;
  text-align: center;
  margin-bottom: 0rem;
}

.footer-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer-icons a {
  color: #fefefe;
}

.footer-icons a:hover {
  color: var(--clr-orange-5);
}
