.ingredients-container {
  background-image: url(../assets/bazil.png);
  height: 760px;
  background-repeat: no-repeat;
  padding-top: 100px;
  background-size: cover;
  width: 100%;
  display: flex;
}

.ingredients-container .inner {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}

.ingredients {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  padding-bottom: 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.ingredients > * {
  flex: 1;
  width: 430px;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.ingredients .decoration::before {
  background: url(../assets/DividerWhite.png);
}

.ingredients-images {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
